@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  background-color: #000000;
  color: #ffffff;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Makes it feel like a locked App, not a website */
}