@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --tkd-red: #b91c1c;
  --tkd-black: #020617;
}

body {
  background-color: #f8fafc;
  color: #0f172a;
  font-family: 'Inter', sans-serif;
}

/* Premium Card Effect */
.app-card {
  @apply bg-white border border-slate-200 shadow-sm rounded-[2rem] transition-all duration-300 hover:shadow-xl hover:border-red-500 active:scale-95;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}